<div class="container">
  <div class="col-xs-12">
    <div class="jumbotron">
      <h1>Beer Napkin</h1>
      <p>
        Beer Napkin is a free mockup tool that integrates directly w/ Github so you can
        seamlesly design your wireframes w/ the help of your Github collaborators.
      </p>
    </div>
  </div>
</div>
