$border-color: #ccc;

#navbar {
  background-color: #ccc;

  #user {
    img {
      width: 50px;
      height: 50px;
    }
  }
}

#beer-napkin, #beer-menu, #beer-bottle {
  border: 1px solid $border-color;
}

#bar {
  #menu {
    float: left;
    width: 200px;
    .asset {
      padding: 5px 25px;
      h5 {
        font-family: 'Coming Soon';
        text-align: center;
      }
      img {
        width: 150px;
      }
    }
    .asset:hover {
      cursor: pointer;
      background-color: #ccc;
    }
  }

  #beer-menu {
    background: image-url('seamless-paper.png');
    position: absolute;
    left: 0px;
    top: 0px;
  }

  #napkin {
    position: relative;
    left: 200px;
    top: 0px;
  }

  #beer-napkin {
    background: image-url('old-mathematics.png');
  }

  #bottle {
    background-color: #999;
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0px;
  }
}
