$border-color: #ccc;

#beer-napkin, #beer-menu, #beer-bottle {
  border: 1px solid $border-color;
}

#bar {
  #menu {
    float: left;
    width: 200px;
  }

  #beer-menu {
    background: image-url('seamless-paper.png');
    position: absolute;
    left: 0px;
    top: 0px;
  }

  #napkin {
    position: absolute;
    left: 200px;
    top: 0px;
  }

  #beer-napkin {
    background: image-url('old-mathematics.png');
  }

  #bottle {
    background-color: #999;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}
